/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
  height: 100vh;
  position: relative;
  color: #fff;

  
  .intro-content {
    text-align: left;
    position: absolute;
  }

  .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
  }

  .intro-title {
    color: #fff;
/*    
    font-weight: 600;
    font-size: 7rem;
*/

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

   .title-4 {
     font-size: 1.0rem;

     @media (min-width: 768px) {
       font-size: 1.5rem;
     }
    

  }


  .text-slider-items {
    display: none;
  }
}

.intro-single {
  height: 350px;

  .intro-content {
    margin-top: 30px;
  }

  /* Not sure why .intro-title listed twice???
  .intro-title {
    text-transform: uppercase;
    font-size: 3rem;

    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }
  */

  .breadcrumb {
    background-color: transparent;
    color: $color-primary;

    .breadcrumb-item {
      &:before {
        color: $color-primary-light;
      }

      &.active {
        color: $color-primary-light;
      }
    }

    a {
      color: #fff;
    }
  }
}
